{{#> layouts/base }}
  {{#*inline "css-block"}}
    <link rel="stylesheet" href="css/syno.css">
    <link rel="stylesheet" href="css/products.css">
  {{/inline}}

  {{#*inline "content-block"}}
    <!--end header_wrapper -->

    <!-----第一版------------->
    <!--begin nine_section_wrapper -->
    <section  class="nine_section_wrapper cart_banner_title">
        <!--begin nine_section -->
        <div class="nine_section"><div class="cart_banner_title_t">{{ translation.TITLE_CART }}</div> </div>
        <!--end nine_section -->
    </section>
    <!--end nine_section -->
    <!-----第一版------------->
    <!-----第二版------------->
    <!--begin nine_section_wrapper -->
    <section  class="nine_section_wrapper cart_main">
        <!--begin nine_section -->
        <div class="nine_section">
            <div class="cart_table">
                <table class="responsive" valign="middle">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ translation.CART_PRICE }}</th>
                        <th>{{ translation.CART_QUANTITY }}</th>
                        <th>{{ translation.CART_AMOUNT }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="pro_img">
                            <div class="pro_td">
                                <img src="images/pro11.jpg">
                                <div class="txt">
                                    <div class="tit">{{ translation.CART_PRODUCT_NAME }}</div>
                                    <div class="c">{{ translation.CART_PRODUCT_INTRO }}</div>
                                </div>
                            </div>
                        </td>
                        <td class="price">￥11999</td>
                        {{!-- <td class="num"><input class="num_input" type="text" value="1"></td> --}}
                        <td class="num"><span>1<span></td>
                        <td class="price_total">
                            ￥11999
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="cart_address text_align_right cd-popup-trigger1"><i class="fa fa-plus-square-o" aria-hidden="true"></i>{{ translation.CART_ADD_ADDRESS }}</div>
            <div class="cart_address_detail">
                <!--<ul>
                    <li>收货人姓名：囧的呼</li>
                    <li>收货人电话：0371-666666</li>
                    <li>收货人地址：河南省郑州市中原区桐柏路</li>
                    <li>收货人地址：河南省郑州市中原区桐柏路</li>
                </ul>-->
               <!--<table id="addressTable" class="responsive" valign="middle">
                    <thead>
                    <tr>
                        <th>{{ translation.CART_RECEIVER_NAME }}</th>
                        <th>{{ translation.CART_RECEIVER_PHONE }}</th>
                        <th>{{ translation.CART_RECEIVER_ADDRESS }}</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>-->
                <!--新增-->
                 <div class="cart_address_detail_t clear_after">
                    <div class="li_first fl">{{ translation.CART_RECEIVER_NAME }}</div>
                    <div class="li_second fl">{{ translation.CART_RECEIVER_PHONE }}</div>
                    <div class="li_third">{{ translation.CART_RECEIVER_ADDRESS }}</div>
                </div>
                <ul id="addressList" class="cart_address_detail_ul">
                    {{!-- <li>
                        <div class="li_first fl text_overflow"><div class="span">姓名</div>skdhj</div>
                        <div class="li_second fl text_overflow"><div class="span">电话</div>13683801224</div>
                        <div class="li_third"><div class="span">地址</div>
                            郑州市中原区桐柏路郑州市中原区桐柏路郑州市中原区桐柏路郑州市中原区桐柏路郑州市中原区桐柏路郑
                            州市中原区桐柏路郑州市中原区桐柏路郑州市中原区桐柏路郑州市中原区桐柏路郑州市中原区桐柏路郑州市中原区桐柏路郑州市中原区桐柏路郑州市中
                            原区桐柏路郑州市中原区桐柏路郑州市中原区桐柏路
                        </div>
                        <label class="demo--label">
                            <div class="demo--label_con">
                                <input class="demo--radio" type="radio" name="demo-radio">
                                <span class="demo--radioInput"></span>
                            </div>
                        </label>
                    </li> --}}
                    {{!-- <li>
                        <div class="li_first fl text_overflow"><div class="span">姓名</div>skdhj</div>
                        <div class="li_second fl text_overflow"><div class="span">电话</div>13683801224</div>
                        <div class="li_third"><div class="span">地址</div>郑州市中原区桐柏路</div>
                        <label class="demo--label">
                            <div class="demo--label_con">
                                <input class="demo--radio" type="radio" name="demo-radio">
                                <span class="demo--radioInput"></span>
                            </div>
                        </label>
                    </li> --}}
                    <li id="addressItem" style="display:none;"></li>
                </ul>
                 <!--新增-->
            </div>
            
            <div class="cart_button text_align_right">
                <a class="but red cd-popup-trigger3" href="javascript:void(0);">{{ translation.CART_PAY_DEFAULT }}</a>
                <a class="but red cd-popup-trigger2" href="javascript:void(0);">{{ translation.CART_PAY_VOUCHER }}</a>
            </div>
        </div>
        <!--end nine_section -->
    </section>
  {{/inline}}



  {{#*inline "modal-block"}}

    <div class="cd-popup1">
        <div class="cd-popup-container1">
            <div class="title">{{ translation.CART_MODAL_ADD_ADDRESS }}</div>
            <div class="con">
                <ul>
                    <li>
                        <div class="label">{{ translation.CART_MODAL_RECEIVER_NAME }}</div>
                        <div class="input_w"><input id="receiver" type="text" placeholder=""><span class="focus-input100"></span></div>
                    </li>
                    <li>
                        <div class="label">{{ translation.CART_MODAL_RECEIVER_PHONE }}</div>
                        <div class="input_w"><input id="phone" type="text" placeholder=""><span class="focus-input100"></span></div>
                    </li>
                    <li>
                        <div class="label">{{ translation.CART_MODAL_RECEIVER_ADDRESS }}</div>
                        <div class="input_w"><input id="address" type="text" placeholder=""><span class="focus-input100"></span></div>
                    </li>
                    <li class="last">
                        <button id="btnAddAddress" class="login100-form-btn">{{ translation.CART_MODAL_SUBMIT }}</button>
                    </li>
                </ul>
            </div>
            <a href="#0" class="cd-popup-close">X</a>
        </div>
    </div>

<!--支付弹出-->
<div class="cd-popup3">
    <div class="cd-popup-container1">
        <div class="money_title text_align_left">
            <div class="t">您想要立即支付吗？</div>
            <div class="c">您将需要选择一个安全的方式来完成支付！</div>
        </div>
        <div class="money_con">
            <div class="tip_logo"><img src="images/721.png"></div>
           <div class="tip"><p>像MetaMask这样的安全钱包即是完美之地。</p><p>同时您也可以通过钱包进入游戏（无需另设密码）</p></div>
            <a class="money_but" href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en">从Chrome网上商店获取</a>
               <div class="tips">本功能只适合在非移动端使用</div>
        </div>
        <a href="#0" class="cd-popup-close">X</a>
    </div>
</div>
<!--支付弹出-->
    <!--支付表单-->
    <div class="cd-popup2">
        <div class="cd-popup-container1 new_height7031">
            <div class="dui_huan">
                <div class="dui_huan_title">{{ translation.CART_PANEL_VOUCHER_TITLE }} </div>
                <div class="dui_huan_con">
                    <ul id="voucherList" class="dui_huan_ul">
                        <li style="display:none;" id="voucherInput" class="clear_after"><div class="label"><input type="radio" class="radio_li" name="voucher"></div><div class="li_r"><input class="text" type="text" placeholder="手动输入兑换码"></div></li>
                    </ul>
                    <div class="dui_huan_button">
                        <button id="btnVoucherPay" class="but lan" >{{ translation.CART_PANEL_VOUCHER_SUBMIT }}</button>
                        <a class="but hui" href="">{{ translation.CART_PANEL_VOUCHER_CANCEL }}</a>
                    </div>
                </div>
            </div>
            <a href="#0" class="cd-popup-close">X</a>
        </div>
    </div>
    
  {{/inline}}

  {{#*inline "scripts-block"}}
    <script type="text/javascript">
    /*弹框JS内容*/
    jQuery(document).ready(function($){
        //打开窗口
        $('.cd-popup-trigger0').on('click', function(event){
            event.preventDefault();
            $('.cd-popup').addClass('is-visible');
            //$(".dialog-addquxiao").hide()
        });
        //关闭窗口
        $('.cd-popup').on('click', function(event){
            if( $(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup') ) {
                event.preventDefault();
                $(this).removeClass('is-visible');
            }
        });
        //ESC关闭
        $(document).keyup(function(event){
            if(event.which=='27'){
                $('.cd-popup').removeClass('is-visible');
            }
        });

        //打开窗口
        $('.cd-popup-trigger1').on('click', function(event){
            event.preventDefault();
            $('.cd-popup1').addClass('is-visible1');
            //$(".dialog-addquxiao").hide()
        });
        //关闭窗口
        $('.cd-popup1').on('click', function(event){
            if( $(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup1') ) {
                event.preventDefault();
                $(this).removeClass('is-visible1');
            }
        });
        //ESC关闭
        $(document).keyup(function(event){
            if(event.which=='27'){
                $('.cd-popup1').removeClass('is-visible1');
            }
        });

        //打开窗口
        $('.cd-popup-trigger2').on('click', function(event){
            event.preventDefault();
            $('.cd-popup2').addClass('is-visible2');
            //$(".dialog-addquxiao").hide()
        });
        //关闭窗口
        $('.cd-popup2').on('click', function(event){
            if( $(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup2') ) {
                event.preventDefault();
                $(this).removeClass('is-visible2');
            }
        });
        //ESC关闭
        $(document).keyup(function(event){
            if(event.which=='27'){
                $('.cd-popup2').removeClass('is-visible2');
            }
        });

        //打开窗口
        $('.cd-popup-trigger3').on('click', function(event){
            event.preventDefault();
            $('.cd-popup3').addClass('is-visible3');
            //$(".dialog-addquxiao").hide()
        });
        //关闭窗口
        $('.cd-popup3').on('click', function(event){
            if( $(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup3') ) {
                event.preventDefault();
                $(this).removeClass('is-visible3');
            }
        });
        //ESC关闭
        $(document).keyup(function(event){
            if(event.which=='27'){
                $('.cd-popup3').removeClass('is-visible3');
            }
        });
    });
</script>
<!-- scripts concatenated and minified via ant build script-->
<script src="js/modernizr-2.6.1.min.js"></script>
<script src="js/conditional.js"></script>
<script src="js/script.js"></script>
<script src="js/jquery.inview.js"></script>
<!-- begin jquery.sticky script-->
<script type="text/javascript" src="js/jquery.sticky.js"></script>
<script>
    $(window).load(function(){
        $("#header_wrapper").sticky({ topSpacing: 0 });
    });
</script>
<!-- end jquery.sticky script-->

<!-- begin menu scrollTo script-->
<script src="js/jquery.scrollTo-min.js"></script>
<script type="text/javascript">
    (function($){
        $(document).ready(function() {
            /* This code is executed after the DOM has been completely loaded */

            $("#nav li a").click(function(e){

                var full_url = this.href;
                var parts = full_url.split("#");
                var trgt = parts[1];
                var target_offset = $("#"+trgt).offset();
                var target_top = target_offset.top;

                $('html,body').animate({scrollTop:target_top -80}, 1000);
                return false;

            });

        });
    })(jQuery);
</script>
<!-- end menu scrollTo script-->

<!-- begin menu color script-->
<script src="js/jquery.nav.js"></script>
<script>
    $(document).ready(function() {
        $('#nav').onePageNav({
            filter: ':not(.external)',
            scrollThreshold: 0.25
        });
    });
</script>
<!-- end menu color script-->

<!--begin shrink header script -->
<script>
    $(function(){
        var shrinkHeader = 50;
        // $(window).scroll(function() {
        //     var scroll = getCurrentScroll();
        //     if ( scroll >= shrinkHeader ) {
        //         $('#header_wrapper').addClass('shrink');
        //     }
        //     else {
        //         $('#header_wrapper').removeClass('shrink');
        //     }
        // });
        // function getCurrentScroll() {
        //     return window.pageYOffset;
        // }
    });
</script>


<!--end shrink header script -->
    <script src="js/pages/cart.js"></script>
  {{/inline}}
{{/layouts/base}}