{{#> layouts/base }}
  {{#*inline "css-block"}}
    <link rel="stylesheet" href="css/syno.css">
    <link rel="stylesheet" href="css/products.css">
  {{/inline}}

  {{#*inline "content-block"}}
    
    <!--end header_wrapper -->
    <!-----第一版------------->
    <!--begin nine_section_wrapper -->
    <section  class="nine_section_wrapper profile_main">
        <!--begin nine_section -->
        <div class="nine_section">
            <!--------tab 切换------------------->
            <div class="profile_new clearfix">
                <div id="outer">
                    <div id="tab">
                    <div class="img"><img src="images/15.jpg"><div class="set_quit_new" id="signOut"><i class="fa fa-power-off" aria-hidden="true"></i>{{ translation.PROFILE_MENU_SIGNOUT }}</div></div>
                    <div class="name text_align_center"><span id="profile_name"></span></div>
                    <ul class="clearfix">
                        <li class="current"><i class="fa fa-tags" aria-hidden="true"></i>{{ translation.PROFILE_MENU_VOUCHERS }}</li>
                        <li><i class="fa fa-gift" aria-hidden="true"></i>{{ translation.PROFILE_MENU_ORDERS }}</li>
                        <li><i class="fa fa-address-book" aria-hidden="true"></i>{{ translation.PROFILE_MENU_ADDRESSES }}</li>
                        <li><i class="fa fa-wrench" aria-hidden="true"></i>{{ translation.PROFILE_MENU_SETTINGS }}</li>
                    </ul>
                    </div>
                    <div id="content">
                        <!-------------------------兑换码--------------->
                        <ul  style="display:block;">
                            <li>
                                
                                <div class="profile_new_num">
                                    <table id="voucherTable" class="responsive" valign="middle">
                                        <thead>
                                        <tr>
                                            <th>{{ translation.PROFILE_VOUCHERS }}</th>
                                            <th>{{ translation.PROFILE_VOUCHERS_STATUS }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <div class="input_w"><input id="inputCode" type="text" placeholder=""><span class="focus-input100"></span></div>
                                    <button id="btnAddVoucher" class="login100-form-btn">{{ translation.PROFILE_ADD_VOUCHER }}</button>
                                </div>
                            </li>
                        </ul>
                        <!-- 订单记录 -->
                        <ul>
                            <li>
                                <div class="cart_table">
                                    <div class="profile_new_title"><a href="">{{ translation.PROFILE_ORDER_UNPAIED }}</a><a href="">{{ translation.PROFILE_ORDER_UNFINISHED }}</a><a class="on" href="">{{ translation.PROFILE_ORDER_FINISHED }}</a></div>
                                    <h3>Voucher Shopping History</h3>
                                    <table id="orderTable" class="responsive" valign="middle">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>{{ translation.PROFILE_ORDER_QUANTITY }}</th>
                                            <th>{{ translation.PROFILE_ORDER_AMOUNT }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>

                                    <hr>
                                    <h3>ETH Shopping History</h3>
                                    <table id="ethOrderTable" class="responsive" valign="middle">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>TX Hash</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                <!------------------收货地址表单-------------------->
                                <div class="profile_form">
                                        <div class="li">
                                            <div class="label">{{ translation.PROFILE_RECEIVER }}</div>
                                            <div class="input_w"><input type="text" placeholder=""><span class="focus-input100"></span></div>
                                        </div>
                                    <div class="li">
                                            <div class="label">{{ translation.PROFILE_RECEIVER_PHONE }}</div>
                                            <div class="input_w"><input type="text" placeholder=""><span class="focus-input100"></span></div>
                                      </div>
                                    <div class="li">
                                            <div class="label">{{ translation.PROFILE_RECEIVER_ADDRESS }}</div>
                                            <div class="input_w"><input type="text" placeholder=""><span class="focus-input100"></span></div>
                                     </div>
                                    <div class="li text_center">
                                            <button class="login100-form-btn">{{ translation.PROFILE_RECEIVER_SUBMIT }}</button>
                                    </div>
                                </div>
                                <!------------------收货地址表单-------------------->
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <!------------------个人信息-------------------->
                                <div class="profile_form">
                                    <div class="li">
                                        <div class="label">{{ translation.PROFILE_RECEIVER }}</div>
                                        <div class="input_w"><input type="text" placeholder=""><span class="focus-input100"></span></div>
                                    </div>
                                    <div class="li">
                                        <div class="label">{{ translation.PROFILE_RECEIVER_PHONE }}</div>
                                        <div class="input_w"><input type="text" placeholder=""><span class="focus-input100"></span></div>
                                    </div>
                                    <div class="li">
                                        <div class="label">{{ translation.PROFILE_RECEIVER_ADDRESS }}</div>
                                        <div class="input_w"><input type="text" placeholder=""><span class="focus-input100"></span></div>
                                    </div>
                                    <div class="li text_center">
                                        <button class="login100-form-btn">{{ translation.PROFILE_RECEIVER_SUBMIT }}</button>
                                    </div>
                                </div>
                                <!------------------收个人信息-------------------->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end nine_section -->
    </section>
    <!--end nine_section -->
  {{/inline}}



  {{#*inline "modal-block"}}
    <!-- No Modal -->
  {{/inline}}

  {{#*inline "scripts-block"}}
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>

    <!-- scripts concatenated and minified via ant build script-->
    <script src="js/modernizr-2.6.1.min.js"></script>
    <script src="js/conditional.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jquery.inview.js"></script>
    <!-- begin jquery.sticky script-->
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script>
        $(window).load(function(){
            $("#header_wrapper").sticky({ topSpacing: 0 });
        });
    </script>
    <!-- end jquery.sticky script-->

    <!-- begin menu scrollTo script-->
    <script src="js/jquery.scrollTo-min.js"></script>

    <script>
    $(function(){
        window.onload = function()
        {
            var $li = $('#tab li');
            var $ul = $('#content ul');
            $li.click(function(){
                var $this = $(this);
                var $t = $this.index();
                $li.removeClass();
                $this.addClass('current');
                $ul.css('display','none');
                $ul.eq($t).css('display','block');
            })
        }
    });
    </script>


    <script type="text/javascript">
        (function($){
            $(document).ready(function() {
                /* This code is executed after the DOM has been completely loaded */

                $("#nav li a").click(function(e){

                    var full_url = this.href;
                    var parts = full_url.split("#");
                    var trgt = parts[1];
                    var target_offset = $("#"+trgt).offset();
                    var target_top = target_offset.top;

                    $('html,body').animate({scrollTop:target_top -80}, 1000);
                    return false;

                });

            });
        })(jQuery);
    </script>
    <!-- end menu scrollTo script-->

    <!-- begin menu color script-->
    <script src="js/jquery.nav.js"></script>
    <script>
        $(document).ready(function() {
            $('#nav').onePageNav({
                filter: ':not(.external)',
                scrollThreshold: 0.25
            });
        });
    </script>
    <!-- end menu color script-->

    <!--begin shrink header script -->
    <script>
        $(function(){
            var shrinkHeader = 50;
            // $(window).scroll(function() {
            //     var scroll = getCurrentScroll();
            //     if ( scroll >= shrinkHeader ) {
            //         $('#header_wrapper').addClass('shrink');
            //     }
            //     else {
            //         $('#header_wrapper').removeClass('shrink');
            //     }
            // });
            // function getCurrentScroll() {
            //     return window.pageYOffset;
            // }
        });
    </script>
    <!--end shrink header script -->

    <script src="js/pages/profile.js"></script>
  {{/inline}}
{{/layouts/base}}