{{#> layouts/basic title="Login" }}

  {{#*inline "content-block"}}
    <div class="card card-auth mx-auto mt-5">
      <div class="card-header">{{ translation.SIGNIN_TITLE }}</div>
      <div class="card-body">
        <div class="form-group">
          <label for="username">{{ translation.SIGNIN_USERNAME }}</label>
          <input id="username" class="form-control" type="username" aria-describedby="usernameHelp">
        </div>
        <div class="form-group">
          <label for="password">{{ translation.SIGNIN_PASSWORD }}</label>
          <input id="password" class="form-control" type="password">
        </div>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox">{{ translation.SIGNIN_REMEMBER_ME }}</label>
          </div>
        </div>
        <button id="btnSignIn" class="btn btn-primary btn-block">{{ translation.SIGNIN_LOGIN }}</button>

        <div class="text-center">
          <a class="d-block small mt-3" href="/signup">{{ translation.SIGNIN_REGISTER }}</a>
          <a class="d-block small" href="/forgot-password">{{ translation.FORGET_PASSWORD }}</a>
        </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block" }}
    <script src="js/pages/signin.js"></script>
  {{/inline }}

{{/layouts/basic}}