{{#> layouts/basic title="注册" }}

  {{#*inline "content-block"}}
    <div class="card card-auth mx-auto mt-5">
      <div class="card-header">{{ translation.SIGNUP_TITLE }}</div>
      <div class="card-body">
        <div class="form-group">
          <label for="username">{{ translation.SIGNUP_USERNAME }}</label>
          <input id="username" class="form-control" type="text" aria-describedby="nameHelp">
        </div>
        <div class="form-group">
          <label for="email">{{ translation.SIGNUP_EMAIL }}</label>
          <input id="email" class="form-control" type="email" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="phone">{{ translation.SIGNUP_PHONE }}</label>
          <input id="phone" class="form-control" type="number" aria-describedby="phoneHelp">
        </div>
        <div class="form-group">
          <label for="password">{{ translation.SIGNUP_PASSWORD }}</label>
          <input id="password" class="form-control" type="password">
        </div>
        <div class="form-group">
          <label for="confirmPassword">{{ translation.SIGNUP_CONFIRM_PASSWORD }}</label>
          <input id="confirmPassword" class="form-control" type="password">
        </div>
        <button id="btnSignUp" class="btn btn-primary btn-block">{{ translation.SIGNUP_REGISTER }}</button>

        <div class="text-center">
          <a class="d-block small mt-3" href="/signin">{{ translation.SIGNUP_LGOIN }}</a>
          <a class="d-block small" href="/forgot-password">{{ translation.FORGET_PASSWORD }}</a>
        </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block" }}
    <script src="js/pages/signup.js"></script>
  {{/inline }}


{{/layouts/basic}}