 <nav id="header_wrapper" class="shrink">
        <!--begin header -->
        <div id="header" class="clearfix">
            <!--begin row -->
            <div class="row">
                <!--begin twelvecol -->
                <div class="twelvecol">
                    <!--begin logo -->
                    <a href="/" id="logo"><img src="images/logo.png"></a>
                    <!--end logo -->
                    <!--begin purchase button -->
                    <!--<a href="#" class="purchase">Purchase Now</a>-->
                    <!--end purchase button -->

                    <!--begin nav -->
                    <ul id="nav">
                        <li>
                            <a href="/index">{{ translation.HOME }}</a>
                        </li>
                        <li>
                            <a href="/miner">{{ translation.MINER }}</a>
                        </li>
                        <li>
                            <a href="/index#showcase">{{ translation.APPLICATIONS }}</a>
                        </li>
                        <li>
                            <a href="https://github.com/DescartesChain">{{ translation.TECHNOLOGY }}</a>
                        </li>
                        <li>
                            <a href="/index#features">{{ translation.ROADMAP }}</a>
                        </li>
                        <li>
                            <a href="/index#pricing">{{ translation.TEAM }}</a>
                        </li>
                        <li>
                            {{!-- <a href="JavaScript：void(0)"  id="i18n">中文</a> --}}
                            <div id="i18n">中文</div>
                        </li>
                         {{!-- <li id="i19n"><a href="/index?clang=en">English</a></li> --}}
                        {{!-- <li id="i18n">中文</li> --}}
                        {{!-- <li id="i18n"><a href="/index?clang=zh" id="language">English</a></li> --}}
                        <!--<li class="last">
                            <a href="#subscribe">Subscribe</a>
                        </li>-->
                       <!--登录前-->
                       <li id="li_signin">
                           <a href="/signin">{{ translation.SIGNIN }}</a>
                       </li>

                       <li id="li_profile" class="header_profile" style="display: none">
                            <a class="user_a" href="/profile"><i class="fa fa-user-circle" aria-hidden="true"></i><span id="username"></span></a>
                       </li>
                    </ul>
                    <!--end nav -->

                </div>
                <!--end twelvecol -->

            </div>
            <!--end row -->

        </div>
        <!--end header -->

    </nav>
