 <nav id="header_wrapper" class="shrink">
        <!--begin header -->
        <div id="header" class="clearfix">
            <!--begin row -->
            <div class="row">
                <!--begin twelvecol -->
                <div class="twelvecol">
                    <!--begin logo -->
                    <a href="index.html" id="logo"><img src="images/logo.png"></a>
                    <!--end logo -->
                    <!--begin purchase button -->
                    <!--<a href="#" class="purchase">Purchase Now</a>-->
                    <!--end purchase button -->

                    <!--begin nav -->
                    <ul id="nav">
                        <li>
                            <a href="/index">{{ translation.HOME }}</a>
                        </li>
                        <li>
                            <a href="/miner">{{ translation.MINER }}</a>
                        </li>
                        <li>
                            <a href="/index#showcase">{{ translation.APPLICATIONS }}</a>
                        </li>
                        <li>
                            <a href="https://github.com/DescartesChain">{{ translation.TECHNOLOGY }}</a>
                        </li>
                        <li>
                            <a href="/index#features">{{ translation.ROADMAP }}</a>
                        </li>
                        <li>
                            <a href="/index#pricing">{{ translation.TEAM }}</a>
                        </li>
                        <li id="i18n"><a href="/index?clang=zh">中文</a></li>
                        <li id="i18n"><a href="/index?clang=en">English</a></li>
                        <!--<li class="last">
                            <a href="#subscribe">Subscribe</a>
                        </li>-->
                    </ul>
                    <!--end nav -->

                </div>
                <!--end twelvecol -->

            </div>
            <!--end row -->

        </div>
        <!--end header -->

    </nav>